.ThingPaper {
    padding: 12px 20px;
}

.Raiting {
    display: flex;
    align-items: center;
}

.deleteButtonWrap {
    display: flex;
    justify-content: flex-end;
}

.description {
    margin-bottom: 8px;
}

.img {
    width: 100%;
    margin: 0  0 12px 0;
}

.raitingText:global(.MuiTypography-root) {
    font-size: 1.1rem;
    margin-left: 6px;
}
