body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(86, 86, 86);
}

* {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --color-delimiter: rgb(213, 213, 213);
    --color-action-icon: white;

    --background-color-header: rgb(255, 255, 255);
    --background-color-app: rgb(246, 246, 246);
    --background-color-primary: white;
    --background-color-action-icon: #1976d2;

    --margin-bottom-list-things-item: 12px;
    --margin-bottom-search: 20px;

    --z-index-header: 9;

    --right-speed-dial: 20px;

    --bottom-speed-dial: 20px;

    --width-speed-dial-icon: 50px;

    --height-speed-dial-icon: 50px;
}
